<!--usuario no logueado-->
<nav class="navbar navbar-expand-md  navbar-dark w-100" style="background-color: rgb(55, 154, 213);">
     <div class="d-flex flex-grow-1">
       <a class="navbar-brand"routerLink="/home"><img src="../../../assets/icono.png" alt="" style="height: 40px !important;"></a>
         <form class="mr-2 my-auto w-100 d-inline-block order-1">
             <div class="input-group">
                 <input [(ngModel)]="buscar" name="formBuscar" id="input-busqueda" type="text" class="form-control border border-right-0" placeholder="Buscar...">
                 <span class="input-group-append"> 
                   <!-- <a href="html/resultados_busqueda.html"> -->
                     <button (click)="buscarProductosServiciosPorNombre()" id="button-busqueda" class="btn btn-outline-light border border-left-0" type="button">
                         <i class="fa fa-search"></i>
                     </button>
                   <!-- </a> -->
                     
                 </span>
             </div>
         </form>
     </div>
     <button class="navbar-toggler order-0" type="button" data-toggle="collapse" data-target="#navbar7">
         <span class="navbar-toggler-icon"></span>
     </button>
     <div class="navbar-collapse collapse flex-shrink-1 flex-grow-0 order-last" id="navbar7">
       <ul class="navbar-nav">
     
         <li class="nav-item" style="cursor: pointer;">
           <a class="nav-link"  style="color: white !important;" (click)="buscarEntidades()">Entidades</a>
         </li>
         <li class="nav-item" style="cursor: pointer;">
           <a style="color: white !important;" class="nav-link">Categorías</a>
         </li>
         <li class="nav-item" style="cursor: pointer;">
           <a style="color: white !important;" class="nav-link">Contacto</a>
         </li>
         <li class="nav-item mr-5">
           <ng-container *ngIf="authService.loggedIn();else logueado">
             <a style="color: white !important;" class="nav-link" routerLink="/panel">Hola {{usuario}}</a>
           </ng-container>
           <ng-template #logueado>
             <a style="color: white !important;" class="nav-link" routerLink="/login">Ingresar</a>
           </ng-template>
           
          
         </li>
        
       </ul>
     </div>
   </nav>
<div class="container">
     <div class="row">
          <img  src="http://imgsistemapc.productochile.cl/home/banners/entidad1.png" class="d-block  w-100" alt="...">
     </div> 
     <div *ngIf="desEntidad!=''"class="row carta-forma-pago mt-3">
          <div class="col-sm-12 col-md-12 col-lg-12 centrar">
            <div class="letra-forma-pago ml-3 ">
              <p class="margin-y-0 centrar" style="font-weight: bolder;">{{desEntidad}}</p>
            </div>
          </div>
        </div>
     <div class="row">
          <div class="col-12 mt-3 mb-4 ">
            <div *ngIf="!cardNoPyme;else templateListPymesVacia">
              <div  *ngFor="let pyme of listPymes">
          
                <div class="card mb-3">
                     <div class="card-header">{{pyme.nombrePyme}}</div>
                     <div class="card-body">
                       <h5 class="card-title">Rubro de {{pyme.nombreRubro}}</h5>
                       <p class="card-text">Presente en la {{pyme.nombreRegion}}</p>
                       <p class="card-text">{{pyme.descripcionPyme}}</p>
                       <p class="card-text">Fono de contacto: {{pyme.fonoContactoUno}}</p>
                     </div>
                     <div *ngIf="pyme.link_OnePage!=''"class="card-footer bg-transparent centrar">
                       <a href="{{pyme.link_OnePage}}" target="_blanck"><button class="btn btn-info">Visitar OnePage</button></a>
                     </div>
                   </div>
           </div>
            </div>
            <ng-template #templateListPymesVacia>
              <div class="card mb-3 centrar-vertical pt-3 pb-3">
                La entidad no posee pymes asociadas
              </div>
              </ng-template>
           </div>
     </div>
</div>
<div *ngIf="cargando" class="loader"></div>
