<!--navbar usuario logueado-->
<nav class="navbar navbar-expand-lg" style="background-color: rgb(55, 154, 213);">
  <div class="d-flex centrar">
    <a class="navbar-brand"routerLink="/home"><img src="../../../assets/icono.png" alt="" style="height: 40px !important;"></a>
    <a class="nav-item mr-3" style="color: white !important;">{{idUsuario[1]}}</a>
  </div>    
  
  
  
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon centrar"><i class="fas fa-bars" style="color: white;"></i></span>
     </button>
 
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item" style="color: white !important">
          
         </li> 
       </ul>
       <form class="form-inline my-2 my-lg-0">
        <a *ngIf="idUsuario[3]!='null'" href="{{idUsuario[3]}}" target="_blank">
          <button type="button" class="btn btn-info">One page</button>
      </a>
         <a style="color: white !important;cursor: pointer;" class="nav-link" (click)="authService.loggedOut()">Salir</a>
         
       </form>
     </div>
   </nav>
