@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap'); /* Importa un tipo de letra desde la web */

html 
{
    font-size: 17px;
}

a {
    text-decoration: none !important;
   
  }

  .imagen-en-carta{
    padding-bottom: 20px;
    
  }

body{
    background-color: rgb(241, 241, 241) !important;
    overflow-x: hidden !important;
    width:100%;
}

.centrar
{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.centrar-horizontal
{
    text-align: center;
} 


.centrar-vertical
{
    display: flex;
    align-items: center;
} 


@media only screen and (max-width: 991px) {
    .ocultar-imagen{
        display: none !important;
    }
   
        .navbar-toggler {
           
            border-color: rgb(167, 167, 167) !important;
            
        }
      
}


@media only screen and (min-width: 992px) {
    
    .margen-info-responsive{
        margin-left: 90px !important;
    }
      
}

  .titulo-filtros{
    font-weight: bold;
    font-size: 14px;
  }

  .letra-filtros{
    font-size: 13px;
    text-decoration: none !important;
    color: black;
  }


  .hover-seleccion > div > span:hover{
    color: orange !important;
  }

  .hover-seleccion > div > span> a:hover{
    color: orange !important;
  }

  .filtros > div >span{
      cursor: pointer;
  }

  .hover-seleccion > div > span{
    cursor: pointer;
  }

  .filtros > p{
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    margin-bottom: 5px !important;
  }

  .hover-seleccion > p{
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    margin-bottom: 5px !important;
  }

  .filtros{
    margin-bottom: 10px !important;
    padding-left: 5px;
  }

  .hover-seleccion{
    margin-bottom: 10px !important;
    padding-left: 5px;
  }

  select > option{
    font-size: 13px;
  }

  select{
    font-size: 13px !important;
  }

  .linea-divisoria{
      border-right: 2px solid #ddd;
  }

  .carta-resultados-busquedas {
    
   
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: white;
    
    
  }

  .imagen-size{
      width: 160px;
      height: 160px;
  }

  .linea-inferior-resultados-busquedas{
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 2px solid #ddd;;
  }

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position:fixed;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} 

