  <!-- pie de pagina -->
  <!-- <footer class="footerh">
     <div class="row">
       <div class="col-md-6 col-lg-7">
  
       </div>
       <div class="col-sm-12 col-md-6 col-lg-4 centrar margen-icono-footer">
         <a href="https://www.facebook.com/ProductoChileOficial/"><i  class="fab fa-facebook-f fa-2x  icono-footer-circular-face"></i></a>
         <i class="fab fa-twitter fa-2x  icono-footer-circular-tw"></i>
         <i class="fab fa-instagram fa-2x  icono-footer-circular-insta"></i>
         <a href="https://www.youtube.com/channel/UCoRETB4Dkd8o105sd2faakg/?guided_help_flow=5"><i class="fab fa-youtube fa-2x icono-footer-circular-youtube"></i></a>
       </div>
     </div>
     
   </footer> -->


<div class="mt-5">
    <div class="row" style="background-color: rgb(95, 95, 95);">
      <div class="col-12 centrar pt-4 pb-4">
        <a target="_blank" href="https://www.facebook.com/ProductoChileOficial/"><i  class="fab fa-facebook-f fa-2x  icono-footer-face margen-footer-lados"></i></a>
        <i class="fab fa-twitter fa-2x  icono-footer-tw margen-footer-lados"></i>
        <i class="fab fa-instagram fa-2x  icono-footer-insta margen-footer-lados"></i>
        <a target="_blank" href="https://www.youtube.com/channel/UCoRETB4Dkd8o105sd2faakg/?guided_help_flow=5"><i class="fab fa-youtube fa-2x icono-footer-yt margen-footer-lados"></i></a>
      </div>
    </div>
    <div class="row pt-2 pb-2 " style="background-color: rgb(54, 54, 54);">
<div class="col-6 centrar-vertical centrar-horizontal" style="color: white;">
 <span class="ml-3"> © 2020 Producto Chile. Todos los derechos reservados.</span> 
</div>
<div class="col-6 pt-2 pb-2" style="color: white;">
  <div class="centrar"><a routerLink="/politicas-de-uso">Politicas de uso</a></div>
  <div class="centrar"><a routerLink="/politicas-de-productos">Politicas de productos</a></div>
  <!-- <div class="centrar"><a target="_blank" href="https://www.messenger.com/t/ProductoChileOficial">Asistente virtual</a></div> -->
  <div class="centrar"><a style="cursor: pointer;" data-toggle="modal" data-target="#exampleModalCenter" >Asistente virtual</a></div>
</div>
    </div>
 
 
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header titulo-modal centrar-vertical">
        <i class="fas fa-headset mr-2"></i>
        <h5 class="modal-title" id="exampleModalLongTitle">Asistente virtual</h5>
        <button type="button" class="close centrar-vertical" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times" style="color: white;"></i>
        </button>
      </div>
      <div class="modal-body">
        <p>Esta a punto de salir de productochile.cl, sera redireccionado al asistente virtual via facebook.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
        <a target="_blank" href="https://www.messenger.com/t/ProductoChileOficial"><button type="button" class="btn btn-primary btn-whatsapp btn-messenger" >Ir a messenger</button></a>
      </div> 
    </div>
  </div>
</div>
   

   