
    
        <div class="container centrar-vertical-horizontal"> 
            <div class="row justify-content-center align-self-center">
                <form class="form-signin carta-login" action="../html/panel.html">
                    <div class="text-center mb-4">
                        <a href="../index.html">
                            <img class="mb-4" src="../Images/0.png" alt="" width="72" height="72" /></a>
                        <h1 class="h3 mb-3" style="font-weight: 500;">
                            Iniciar sesión
                        </h1> 
                    </div>
        
                    <div class="form-label-group">
                        <input type="email" id="email" class="form-control mb-3" placeholder="correo@ejemplo.com" name="email"
                            required="" autofocus="" [(ngModel)]="user.email"/>
                        <!-- <label for="inputEmail">Correo electrónico</label> -->
                    </div>
        
                    <div class="form-label-group">
                        <input type="password" id="password" class="form-control mb-3" placeholder="Password" name="password"
                            required="" [(ngModel)]="user.password"/>
                        <!-- <label for="inputPassword"> Contraseña </label> -->
                    </div>
                    <!-- <a href="../html/panel.html"> -->
                       <button *ngIf="!btnIngresar;else cargando" [disabled]="btnIngresar" class="btn btn-lg btn-primary btn-block" type="submit" (click)="signin()" style="font-weight: 400;">
                        Ingresar
                    </button> 
                    <button type="button" class="btn btn-light btn-block" style="color: #007bff;font-weight: 700;" routerLink="/home">Volver</button>
                    <ng-template #cargando>
                        <button class="btn btn-lg btn-primary btn-block centrar" type="button" disabled>
                            <span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
                              Un momento...
                          </button>
                    </ng-template>
                    
                     
                    <!-- </a> -->
                   
                        <div  *ngIf="mensajeError" class="alert alert-danger text-center" role="alert">
                            Error en datos ingresados
                          </div>
                   
                    
                    
                    <p class="mt-4 mb-3 text-muted text-center">
                        © 2020 Producto Chile. Todos los derechos reservados.
                    </p>
                </form>
               </div>
            
        </div>
    
  

    
