<app-navbar-client></app-navbar-client>

<div class="container mt-2">
 
     <div class="row carta-panel">
          <div class="col-sm-12 col-md-12 col-lg-3 linea-divisoria mb-3">

               <div class="hover-seleccion">
                    <p class="titulo-filtros">Panel de control</p>
                    <div class="mt-1">
                         <span><a class="letra-filtros" routerLink="/panel/datos-personales"><i
                                        class="fas fa-user-circle mr-2"></i>Datos personales</a></span>
                    </div>
                    <div class="mt-1">
                         <span><a class="letra-filtros" routerLink="/panel/datos-empresariales"><i
                                        class="fas fa-briefcase mr-2"></i>Datos empresariales</a></span>
                    </div>
                    <div class="mt-1">
                         <span><a class="letra-filtros" routerLink="/panel/servicios-productos"><i
                                        class="fas fa-clipboard-list mr-2"></i> Servicios y Productos</a></span>
                    </div>


                    <div class="mt-1">
                         <span><a class="letra-filtros" routerLink="/panel/config"><i
                                        class="fas fa-cogs mr-2"></i>Config. OnePage</a></span>
                    </div>
                    <div class="mt-1">
                         <span><a class="letra-filtros" routerLink="/panel/cambiar-contraseña"><i class="fas fa-key mr-2"></i>Cambiar contraseña</a></span>
                    </div>
                    <div class="mt-1">
                         <span><a class="letra-filtros" routerLink="/panel/preguntas-frecuentes"><i
                                        class="fas fa-question-circle mr-2"></i>Preguntas frecuentes</a></span>
                    </div>
               </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-9 mb-3">
               <h4>Cambiar contraseña</h4>
               <div class="row mt-3">
                    <div class="col-3 centrar-vertical" style="font-weight: 500;">Contraseña</div>
                    <div class="col-6"><input class="form-control" name="NombreUsuario" type="password" [(ngModel)]="data.password" [disabled]='passwordUpdated'></div>
               </div>

               <div class="row mt-3">
                    <div class="col-3 centrar-vertical" style="font-weight: 500;">Nueva contraseña</div>
                    <div class="col-6"><input class="form-control" name="NombreUsuario" type="password" [(ngModel)]="data.newPassword" [disabled]='passwordUpdated'></div>
               </div>
               <div class="row mt-3">
                    <div class="col-3 centrar-vertical" style="font-weight: 500;">Repetir contraseña</div>
                    <div class="col-6"><input class="form-control" name="NombreUsuario" type="password" [(ngModel)]="data.repeatPassword" [disabled]='passwordUpdated'></div>
               </div>
               <div class="centrar-horizontal mt-4">
                    <button *ngIf="!btnIngresar;else cargando" type="button" class="btn btn-info font-weight-bold "
                    (click)="updatePassword()" [disabled]='passwordUpdated'>Actualizar</button>
                    <ng-template #cargando>
                         <button class="btn  btn-info  centrar" type="button" disabled>
                             <span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
                               Un momento...
                           </button>
                     </ng-template>
                  </div>
                  <div *ngIf="mensajeErrorPassword!=''" class="centrar-horizontal mt-4">
                    <div class="alert alert-danger" role="alert">
                         {{mensajeErrorPassword}}
                       </div>
                  </div>
                  <div *ngIf="passwordUpdated==true" class="centrar-horizontal mt-4">
                       <div  class="alert alert-success" role="alert">
                         Contraseña actualizada!
                       </div>
                   
                  </div>
          </div>
     </div>

</div>


<!--footer-->
<!-- <footer class="footer-panel">
     <div class="row">
          <div class="col-md-6 col-lg-7">

          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 centrar margen-icono-footer">
               <i class="fab fa-facebook-f fa-2x  icono-footer-circular-face"></i>
               <i class="fab fa-twitter fa-2x  icono-footer-circular-tw"></i>
               <i class="fab fa-instagram fa-2x  icono-footer-circular-insta"></i>
               <i class="fab fa-youtube fa-2x icono-footer-circular-youtube"></i>
          </div>
     </div>
</footer> -->

<button class="chat rounded-circle" data-toggle="modal" data-target="#modal-contacto">
     <i class="far fa-comments fa-2x"></i>
</button>